<html>

<head>
<title>
    Alta de usuario
</title>

</head>

<body>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="Nombre">
        <br>
        <input type="text" name="last_name" placeholder="Apellido">
        <br>
        <input type="text" name="email" placeholder="e-mail">
        <br>
        <input type="text" name="username" placeholder="Nombre de usuario">
        <br>
        <input type="password" name="password1" placeholder="Ingrese su contraseña">
        <br>
        <input type="password" name="password2" placeholder="Ingrese su contraseña nuevamente">
        <br>
        <input type="submit" value="Registrate">

    </form>

</body>